<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet Leaderboard</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">

</head>
<body>
    <div class="container"> <!---so we can see who has submitted a high score-->
        <div id="highScores" class="flex-center flex-column">
            <h1 id="leaderboard">Leaderboard</h1>
            <ul id="leaderboardList"></ul>
            <a href="/" class="btn">Go Home</a>
        </div>
    </div>
    <script src="assets/js/highScores.js"></script>   <!---linking our high scores JS-->
</body>
</html>