<div class = "image">
<img src = "https://st3.depositphotos.com/9494100/15431/i/600/depositphotos_154313506-stock-photo-pug-dog-with-yellow-constructor.jpg" alt="construction dog" >
</div>

<div class = "oops">
<h1> Sorry! This page is still under construction!</h1>
</div>