<div class = "container">
{{!-- <div class="row justify-space-between-md"> --}}
  <div class="login-card">
    <h2 class="page-title">Login</h2>
    <form class="form login-form">
      <div class="form-group">
        <label for="email-login"></label>
        <input class="form-input" type="text" placeholder="Email" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login"></label>
        <input class="form-input" type="password" placeholder="Password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-light" type="submit">Login!</button>
      </div>
    </form>
  </div>
  </div>
  <div class = "container">
  <div class="login-card">
    <h2 class="page-title">Sign Up to Show off Your Pets!</h2>
    {{!-- Start of Sign Up modal --}}
    <form action="/api/users/" method="POST" class="form signup-form">
      <div class="form-group">
        <label for="firstname-signup"></label>
        <input class="form-input" type="text" name="first_name" placeholder="First Name" id="firstname-signup" />
      </div>
       <div class="form-group">
        <label for="lastname-signup"></label>
        <input class="form-input" type="text" name="last_name" placeholder="Last Name" id="lastname-signup" />
      </div>
      <div class="form-group">
        <label for="username-signup"></label>
        <input class="form-input" type="text" name="username" placeholder="Username" id="username-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup"></label>
        <input class="form-input" type="text" name="email" placeholder="Email" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup"></label>
        <input class="form-input" type="password" name="password" placeholder="Password" id="password-signup" />
      </div>
      <div class="form-group">
      <input type="submit" class="btn btn-light" value="Sign Up!">
      </div>
    </form>
  </div>
</div>
</div>


<script src="/js/login.js"></script>