<div class = "image">
<img src = "https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcT00pPCvG7Wj03h7PimwyWcAF1P_Xuil4xKsxlVaYuW-6Tk4A7V" alt="grumpy cat" >
</div>

<div class = "oops">
<h1> Oops! You need to login in order to view this page!</h1>
</div>

<a class="oops-login" href="/login">Login <span class="sr-only">(current)</span></a>
