<div>
    <img src="" alt="random cute pet">
    {{!-- star or heart icons? --}}
    {{!-- add css transform to fill from left to right on hover --}}
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
</div>

