<h1 class="dashTitle">Pet Owner Dashboard</h1>

<section class="userCard">
    <div class="userIcon">
        <img src="" alt="user photo">
    </div>

    <div class="userInfo">
        <ul>
            <li>{{first_name}} {{last_name}}</li>
            <li>Number of Pets</li>
        </ul>
    </div>
</section>

<section class="addPet">
    <h3>Pets</h3>
    
    {{!-- https://codingyaar.com/bootstrap-5-modal-form/ --}}
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-light" data-toggle="modal" data-target="#exampleModalCenter">Add a New Pet!</button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Add Pet</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form action="/api/pets/" enctype="multipart/form-data" method="post">
                <div class="form-group">
                    <label for="pet_name">Pet Name</label>
                    <input type="text" name="pet_name" id="pet_name">
                        <br>
                    <label for="type">Pet Type</label>
                    <select name="type" id="type">
                        <option value="Dog">Dog</option>
                        <option value="Cat">Cat</option>
                        <option value="Bird">Bird</option>
                        <option value="Amphibian">Amphibian</option>
                        <option value="Reptile">Reptile</option>
                        <option value="Rodent">Rodent</option>
                        <option value="Exotic">Exotic - Anything Else</option>
                    </select>
                        <br>
                    <label for="gender">Pet Gender</label>
                    <select name="gender" id="gender">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                        <br>
                    <label for="special_skills">Special Skills</label>
                    <input type="text" name="special_skills" id="special_skills">
                        <br>
                    <label for="favorite_toy">Favorite Toy</label>
                    <input type="text" name="favorite_toy" id="favorite_toy">
                        <br>
                    <label for="upload_file">Upload an single image of your Pet</label>
                    <input type="file" class="form-control-file" name="uploaded_file">
                        <br>
                    <label for="owner_rating">Owner Rating</label>
                    <select name="owner_rating" id="owner_rating">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add Pet</button>
                </div>
            </form>
        </div>
    </div>
    </div>
</section>

<section>
    {{!-- https://www.geeksforgeeks.org/bootstrap-5-cards-horizontal/ --}}
    <div class="container d-flex mt-4 p-4">
        <div class="card mb-3" style="max-width:540px;">
            <div class="row g-0">
                <div class="col-md-6">
                    <img src="/images/01-doxie.jpg"class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-6">
                    <div class="card-body">
                        <h5 class="card-title">
                            {{pet.name}}
                        </h5>
                       <ul>
                        <li>Pet Type</li>
                        <li>Gender</li>
                        <li>Special Skill</li>
                        <li>Favorite Toy</li>
                        <li>Owner Rating</li>
                        <li>Others Rating</li>
                       </ul>
                    </div>
                </div>
            </div>
        </div>
</section>