html {
  background: #8e9eab;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #eef2f3, #d9dbdb, #eef2f3);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #eef2f3, #d9dbdb, #eef2f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
body {
  background: #8e9eab;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #eef2f3, #d9dbdb, #eef2f3);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #eef2f3, #d9dbdb, #eef2f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.ratePet {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.rateName {
  display: flex;
  justify-content: center;
}

.rateBtn {
  margin-left: 10px;
}

.dashTitle {
  display: flex;
  justify-content: center;
}

.userCard {
  display: flex;
  justify-content: space-around;
}

.userIcon {
  width: 40%;
  padding: 2%;
}

.userInfo {
  width: 70%;
}

.addPet {
  display: flex;
  justify-content: space-between;
  margin: 2%;
}


.ratingImage {
  display: flex;
  justify-content: center;
}

.image {
  display: flex;
  justify-content: center;
  padding: 15px;


}

.oops {
  text-align: center; 
}

.oops-login {
  display: flex;
  justify-content: center;
  font-size: 30px;
}
