html {
  background: #8e9eab;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #eef2f3, #d9dbdb, #eef2f3);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #eef2f3, #d9dbdb, #eef2f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
body {
  background: #8e9eab;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #eef2f3, #d9dbdb, #eef2f3);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #eef2f3, #d9dbdb, #eef2f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

button a {
  color: white;
}

.nav-box-shadow {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.ratePet {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.rateName {
  display: flex;
  justify-content: center;
}

.rateBtn {
  margin-left: 10px;
}
  
/* This section of code sets the style for the /ratings page */
#ratingImage{
  width: 400px;
  height: 400px;
  object-fit: contain;
}
/* This ENDS the /ratings style*/

.dashTitle {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.userCard {
  display: flex;
  justify-content: space-around;
}

.userIcon {
  width: 40%;
  padding: 2%;
}

.userInfo {
  width: 70%;
}

.addPet {
  display: flex;
  justify-content: space-between;
  margin: 2%;
}

.box-shadow {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.ratingImage {
  display: flex;
  justify-content: center;
}

.image {
  display: flex;
  justify-content: center;
  padding: 15px;
}

.oops {
  text-align: center; 
}

.oops-login {
  display: flex;
  justify-content: center;
  font-size: 30px;
}


.login-card {
  margin: 20px 0 20px 0;
  flex: 0 0 45%;
  max-width: 60%;
  padding: 20px;
  border: 3px solid var(--dark);
  border-radius: var(--border-radius);
  border-style: groove;
  border-width: thick;
  background-color: #7f99e2;
  color: var(--light);
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.page-title {
  text-align: center;
  padding-bottom: 10px;
}

.form-group {
  /* text-align: center; */
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
}